a,address,b,big,blockquote,body,center,cite,code,dd,del,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,label,legend,li,ol,p,pre,small,span,strong,u,ul,var, * {margin: 0;padding: 0}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block}

hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0}

button,html input[type=button],input[type=submit] {-webkit-apperance: button;cursor: pointer;outline: none;}

button[disabled],html input[disabled] {cursor: default;outline: none;}

textarea {resize: none;}

ol,ul {list-style: none}

img {border: 0;vertical-align: middle}

img,audio,video {max-width: 100%;display: inline-block;}

em,i,u {font-style: normal}

.fl {float: left}

.fr {float: right}

.al {text-align: left}

.ac {text-align: center}

.ar {text-align: right}

.b {font-weight: 700}

.hide {display: none}

.por {position: relative;}

.poa {position: absolute;}

.pof {position: fixed;}

.l0 {left: 0;}.l5 {left: 5px;}.l10 {left: 10px;}.l15 {left: 15px;}.l20 {left: 20px;}.l25 {left: 25px;}.l30 {left: 30px;}.l35 {left: 35px;}.l40 {left: 40px;}.l45 {left: 45px;}.l50 {left: 50px;}

.r0 {right: 0;}.r5 {right: 5px;}.r10 {right: 10px;}.r15 {right: 15px;}.r20 {right: 20px;}.r25 {right: 25px;}.r30 {right: 30px;}.r35 {right: 35px;}.r40 {right: 40px;}.r45 {right: 45px;}.r50 {right: 50px;}

.t0 {top: 0;}.t5 {top: 5px;}.t10 {top: 10px;}.t15 {top: 15px;}.t20 {top: 20px;}.t25 {top: 25px;}.t30 {top: 30px;}.t35 {top: 35px;}.t40 {top: 40px;}.t45 {top: 45px;}.t50 {top: 50px;}

.b0 {bottom: 0;}.b5 {bottom: 5px;}.b10 {bottom: 10px;}.b15 {bottom: 15px;}.b20 {bottom: 20px;}.b25 {bottom: 25px;}.b30 {bottom: 30px;}.b35 {bottom: 35px;}.b40 {bottom: 40px;}.b45 {bottom: 45px;}.b50 {bottom: 50px;}

.ovh {overflow: hidden;}

.clear,.clr {display: block;overflow: hidden;clear: both;height: 0;line-height: 0;font-size: 0}

.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden}

.clearfix {*zoom: 1}

.dorpdown {position: relative}

.dorpdown-layer {
    display: none;
    position: absolute
}

.dorpdown:hover .dorpdown-layer,
.hover .dorpdown-layer {
    display: block
}

.cw-icon {
    position: relative;
    cursor: default;
    zoom: 1
}

.cw-icon .i,
.cw-icon i {
    display: block;
    position: absolute;
    overflow: hidden
}

.fr .cw-icon .iconfont {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px
}

.w {width: 1200px;margin: 0 auto}

.root61 .w,.w1210 .w {width: 1210px}

.w1200 .w {width: 1200px}

.w1190 .w {width: 1190px}
/* body {
    font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #666;
    background: #fff
} */

/* #com-content {
    background: #f6f6f6
}

a {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #f30213
}
 */
a {color: #666;text-decoration: none}


.p-detail,.p-img,.p-market,.p-name,.p-price {overflow: hidden}

.m,.mb,.mc,.mt,.sm,.smb,.smc,.smt {overflow: hidden;zoom: 1}


.flex { display: -webkit-box;   display: -webkit-flex;  display: flex; }
.flex-vertical { -webkit-box-orient: vertical;-webkit-flex-flow: column;flex-flow: column;}
.flex-f1 { -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.flex-wrap { -webkit-box-lines: multiple;-moz-box-lines: multiple;-webkit-flex-wrap:wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap:wrap;}
/*水平分布*/
.flex-just { -webkit-justify-content: flex-start; -ms-justify-content: flex-start; justify-content: flex-start;}
.flex-juce { -webkit-justify-content: center; -ms-justify-content: center; justify-content: center;}
.flex-juar { -webkit-justify-content: space-around; -ms-justify-content: space-around; justify-content: space-around;}
.flex-jube { -webkit-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between;}
.flex-juen { -webkit-justify-content: flex-end; -ms-justify-content: flex-end; justify-content: flex-end;}
/*单元素垂直分布*/
.flex-itce { -webkit-align-items: center; -ms-align-items: center; align-items: center;}
.flex-itar { -webkit-align-items: space-around; -ms-align-items: space-around; align-items: space-around;}
.flex-itbe { -webkit-align-items: space-between; -ms-align-items: space-between; align-items: space-between;}
.flex-itend { -webkit-align-items: flex-end; -ms-align-items: flex-end; align-items: flex-end;}

/*多元素垂直分布*/
.flex-cost { -webkit-align-content: flex-start; -ms-align-content: flex-start; align-content: flex-start;}
.flex-coce { -webkit-align-content: center; -ms-align-content: center; align-content: center;}
.flex-coar { -webkit-align-content: space-around; -ms-align-content: space-around; align-content: space-around;}
.flex-cobe { -webkit-align-content: space-between; -ms-align-content: space-between; align-content: space-between;}


/*渐变  深黄 到 浅黄 */

.primory_bg1 {
    /*css3 背景渐变*/
    background: -webkit-linear-gradient(180deg, #11b4fb, #006597);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(180deg, #11b4fb, #006597);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(180deg, #11b4fb, #006597);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(180deg, #11b4fb, #006597);
    /* 标准的语法 */
}
/*primary*/
.primory_bg2 {
    background-color: #d6d6d6;
}
.primory_bg3 {
    background-color: #fff;
}
.bgcf {
    background-color: #fff;
}



/*color*/
.col_g {
  color: #3fcb5e !important;
}
.col_b {
  color: #0068b7 !important;
}
.col_r {
  color: #ff6262 !important;
}

/*font-size*/

.fz10 {font-size: 10px;}.fz11 {font-size: 11px;}.fz12 {font-size: 12px;}.fz13 {font-size: 13px;}.fz14 {font-size: 14px;}.fz15 {font-size: 15px;}.fz16 {font-size: 16px;}.fz17 {font-size: 17px;}.fz18 {font-size: 18px;}.fz19 {font-size: 19px;}.fz20 {font-size: 20px;}.fz22 {font-size: 22px;}.fz24 {font-size: 24px;}.fz26 {font-size: 26px;}.fz28 {font-size: 28px;}.fz30 {font-size: 30px;}.fz32 {font-size: 32px;}.fz34 {font-size: 34px;}.fz36 {font-size: 36px;}.fz38 {font-size: 38px;}.fz40 {font-size: 40px;}

/*margin*/
.m5 {margin: 5px;}.m10 {margin: 10px;}.m15 {margin: 15px;}.m20 {margin: 20px;}.m25 {margin: 25px;}.m30 {margin: 30px;}.m35 {margin: 35px;}.m40 {margin: 40px;}.m45 {margin: 45px;}.m50 {margin: 50px;}.m55 {margin: 55px;}.m60 {margin: 60px;}.m65 {margin: 65px;}.m70 {margin: 70px;}.m75 {margin: 75px;}.m80 {margin: 80px;}.m85 {margin: 85px;}.m90 {margin: 90px;}.m95 {margin: 95px;}.m100 {margin: 100px;}

/*margin-bottom*/
.mb5 {margin-bottom: 5px;}.mb10 {margin-bottom: 10px;}.mb15 {margin-bottom: 15px;}.mb20 {margin-bottom: 20px;}.mb25 {margin-bottom: 25px;}.mb30 {margin-bottom: 30px;}.mb35 {margin-bottom: 35px;}.mb40 {margin-bottom: 40px;}.mb45 {margin-bottom: 45px;}.mb50 {margin-bottom: 50px;}.mb55 {margin-bottom: 55px;}.mb60 {margin-bottom: 60px;}.mb65 {margin-bottom: 65px;}.mb70 {margin-bottom: 70px;}.mb75 {margin-bottom: 75px;}.mb80 {margin-bottom: 80px;}.mb85 {margin-bottom: 85px;}.mb90 {margin-bottom: 90px;}.mb95 {margin-bottom: 95px;}.mb100 {margin-bottom: 100px;}

/*margin-top*/
.mt5 {margin-top: 5px;}.mt10 {margin-top: 10px;}.mt15 {margin-top: 15px;}.mt20 {margin-top: 20px;}.mt25 {margin-top: 25px;}.mt30 {margin-top: 30px;}.mt35 {margin-top: 35px;}.mt40 {margin-top: 40px;}.mt45 {margin-top: 45px;}.mt50 {margin-top: 50px;}.mt55 {margin-top: 55px;}.mt60 {margin-top: 60px;}.mt65 {margin-top: 65px;}.mt70 {margin-top: 70px;}.mt75 {margin-top: 75px;}.mt80 {margin-top: 80px;}.mt85 {margin-top: 85px;}.mt90 {margin-top: 90px;}.mt95 {margin-top: 95px;}.mt100 {margin-top: 100px;}

/*margin-right*/
.mr5 {margin-right: 5px;}.mr10 {margin-right: 10px;}.mr15 {margin-right: 15px;}.mr20 {margin-right: 20px;}.mr25 {margin-right: 25px;}.mr30 {margin-right: 30px;}.mr35 {margin-right: 35px;}.mr40 {margin-right: 40px;}.mr45 {margin-right: 45px;}.mr50 {margin-right: 50px;}.mr55 {margin-right: 55px;}.mr60 {margin-right: 60px;}.mr65 {margin-right: 65px;}.mr70 {margin-right: 70px;}.mr75 {margin-right: 75px;}.mr80 {margin-right: 80px;}.mr85 {margin-right: 85px;}.mr90 {margin-right: 90px;}.mr95 {margin-right: 95px;}.mr100 {margin-right: 100px;}

/*margin-left*/
.ml5 {margin-left: 5px;}.ml10 {margin-left: 10px;}.ml15 {margin-left: 15px;}.ml20 {margin-left: 20px;}.ml25 {margin-left: 25px;}.ml30 {margin-left: 30px;}.ml35 {margin-left: 35px;}.ml40 {margin-left: 40px;}.ml45 {margin-left: 45px;}.ml50 {margin-left: 50px;}.ml55 {margin-left: 55px;}.ml60 {margin-left: 60px;}.ml65 {margin-left: 65px;}.ml70 {margin-left: 70px;}.ml75 {margin-left: 75px;}.ml80 {margin-left: 80px;}.ml85 {margin-left: 85px;}.ml90 {margin-left: 90px;}.ml95 {margin-left: 95px;}.ml100 {margin-left: 100px;}


/*padding*/
.p5 {padding: 5px;}.p10 {padding: 10px;}.p15 {padding: 15px;}.p20 {padding: 20px;}.p25 {padding: 25px;}.p30 {padding: 30px;}.p35 {padding: 35px;}.p40 {padding: 40px;}.p45 {padding: 45px;}.p50 {padding: 50px;}.p55 {padding: 55px;}.p60 {padding: 60px;}.p65 {padding: 65px;}.p70 {padding: 70px;}.p75 {padding: 75px;}.p80 {padding: 80px;}.p85 {padding: 85px;}.p90 {padding: 90px;}.p95 {padding: 95px;}.p100 {padding: 100px;}

/*padding-bottom*/
.pb5 {padding-bottom: 5px;}.pb10 {padding-bottom: 10px;}.pb15 {padding-bottom: 15px;}.pb20 {padding-bottom: 20px;}.pb25 {padding-bottom: 25px;}.pb30 {padding-bottom: 30px;}.pb35 {padding-bottom: 35px;}.pb40 {padding-bottom: 40px;}.pb45 {padding-bottom: 45px;}.pb50 {padding-bottom: 50px;}.pb55 {padding-bottom: 55px;}.pb60 {padding-bottom: 60px;}.pb65 {padding-bottom: 65px;}.pb70 {padding-bottom: 70px;}.pb75 {padding-bottom: 75px;}.pb80 {padding-bottom: 80px;}.pb85 {padding-bottom: 85px;}.pb90 {padding-bottom: 90px;}.pb95 {padding-bottom: 95px;}.pb100 {padding-bottom: 100px;}

/*padding-top*/
.pt5 {padding-top: 5px;}.pt10 {padding-top: 10px;}.pt15 {padding-top: 15px;}.pt20 {padding-top: 20px;}.pt25 {padding-top: 25px;}.pt30 {padding-top: 30px;}.pt35 {padding-top: 35px;}.pt40 {padding-top: 40px;}.pt45 {padding-top: 45px;}.pt50 {padding-top: 50px;}.pt55 {padding-top: 55px;}.pt60 {padding-top: 60px;}.pt65 {padding-top: 65px;}.pt70 {padding-top: 70px;}.pt75 {padding-top: 75px;}.pt80 {padding-top: 80px;}.pt85 {padding-top: 85px;}.pt90 {padding-top: 90px;}.pt95 {padding-top: 95px;}.pt100 {padding-top: 100px;}

/*padding-right*/
.pr5 {padding-right: 5px;}.pr10 {padding-right: 10px;}.pr15 {padding-right: 15px;}.pr20 {padding-right: 20px;}.pr25 {padding-right: 25px;}.pr30 {padding-right: 30px;}.pr35 {padding-right: 35px;}.pr40 {padding-right: 40px;}.pr45 {padding-right: 45px;}.pr50 {padding-right: 50px;}.pr55 {padding-right: 55px;}.pr60 {padding-right: 60px;}.pr65 {padding-right: 65px;}.pr70 {padding-right: 70px;}.pr75 {padding-right: 75px;}.pr80 {padding-right: 80px;}.pr85 {padding-right: 85px;}.pr90 {padding-right: 90px;}.pr95 {padding-right: 95px;}.pr100 {padding-right: 100px;}

/*padding-left*/
.pl5 {padding-left: 5px;}.pl10 {padding-left: 10px;}.pl15 {padding-left: 15px;}.pl20 {padding-left: 20px;}.pl25 {padding-left: 25px;}.pl30 {padding-left: 30px;}.pl35 {padding-left: 35px;}.pl40 {padding-left: 40px;}.pl45 {padding-left: 45px;}.pl50 {padding-left: 50px;}.pl55 {padding-left: 55px;}.pl60 {padding-left: 60px;}.pl65 {padding-left: 65px;}.pl70 {padding-left: 70px;}.pl75 {padding-left: 75px;}.pl80 {padding-left: 80px;}.pl85 {padding-left: 85px;}.pl90 {padding-left: 90px;}.pl95 {padding-left: 95px;}.pl100 {padding-left: 100px;}


.m0    {margin: 0 !important;}
.p0    {padding: 0 !important;}
.bgn {background: none !important;}
.bdn {border: none !important;}

.bd1 {border: 1px solid #bfbfbf;}
.bdb1 {border-bottom: 1px solid #bfbfbf;}

.txtOv1 {
	display: -webkit-box;
	overflow: hidden; 
	text-overflow:ellipsis;
	word-break:break-all;
	-webkit-box-orient:vertical;
	/* white-space:nowrap; */
	-webkit-line-clamp:1;
}

.box-b {
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	box-sizing:border-box;
}

.box-shadow{
     /*Firefox4.0-*/
     -moz-box-shadow:0 2px 8px 1px rgba(0,0,0,.35);
     /*Safariand Google chrome10.0-*/
     -webkit-box-shadow:0 2px 8px 1px rgba(0,0,0,.35);
     /*Firefox4.0+、 Google chrome 10.0+ 、 Oprea10.5+ and IE9*/
     box-shadow:  0 2px 8px 1px rgba(0,0,0,.35);
}

.bdra10 {border-radius: 10px;}

@media screen and (min-width:300px) and (max-width:360px) {}


html,body {
    height: 100%;
    min-width: 1200px;
    font-family: "Microsoft YaHei";
}
h1,h2,h3,h4,h5,h6,p,div,span,input,textarea {
    font-family: "Microsoft YaHei";
}

