a,address,b,big,blockquote,body,center,cite,code,dd,del,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,label,legend,li,ol,p,pre,small,span,strong,u,ul,var, * {margin: 0;padding: 0}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block}

hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0}

button,html input[type=button],input[type=submit] {-webkit-apperance: button;cursor: pointer;outline: none;}

button[disabled],html input[disabled] {cursor: default;outline: none;}

textarea {resize: none;}

/* input[type="number"] 去掉增加减少按钮 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;}
input[type="number"]{-moz-appearance: textfield;}

/* 禁止用户选择文本 */
.noSelect { 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ol,ul {list-style: none}

img {border: 0;vertical-align: middle;object-fit: contain;}

/* em,i,u {font-style: normal} */

iframe {border: 0;}

.curp {cursor: pointer;}

.curm {cursor: move;}

.fl {float: left}

.fr {float: right}

.al {text-align: left}

.ac {text-align: center}

.ar {text-align: right}

.b {font-weight: 700}

.hide {display: none}

.show, .db {display: block}

.dib {display: inline-block;}

.op0 {opacity: 0;filter:alpha(opacity=0); /* 针对 IE8 以及更早的版本 */}
.op1 {opacity: 0.1;filter:alpha(opacity=10);}
.op2 {opacity: 0.2;filter:alpha(opacity=20);}
.op3 {opacity: 0.3;filter:alpha(opacity=30);}
.op4 {opacity: 0.4;filter:alpha(opacity=40);}
.op5 {opacity: 0.5;filter:alpha(opacity=50);}
.op6 {opacity: 0.6;filter:alpha(opacity=60);}
.op7 {opacity: 0.7;filter:alpha(opacity=70);}
.op8 {opacity: 0.8;filter:alpha(opacity=80);}
.op9 {opacity: 0.9;filter:alpha(opacity=90);}
.op10 {opacity: 1.0;filter:alpha(opacity=100);}

.por {position: relative;}

.poa {position: absolute;}

.pof {position: fixed;}

.pos {position: static;}

/* left */
.l-10 {left: -10px;}.l-9 {left: -9px;}.l-8 {left: -8px;}.l-7 {left: -7px;}.l-6 {left: -6px;}.l-5 {left: -5px;}.l-4 {left: -4px;}.l-3 {left: -3px;}.l-2 {left: -2px;}.l-1 {left: -1px;}.l0 {left: 0;}.l1 {left: 1px;}.l2 {left: 2px;}.l3 {left: 3px;}.l4 {left: 4px;}.l5 {left: 5px;}.l6 {left: 6px;}.l7 {left: 7px;}.l8 {left: 8px;}.l9 {left: 9px;}.l10 {left: 10px;}.l15 {left: 15px;}.l20 {left: 20px;}.l25 {left: 25px;}.l30 {left: 30px;}.l35 {left: 35px;}.l40 {left: 40px;}.l45 {left: 45px;}.l50 {left: 50px;}.la {left: auto !important;}

/* right */
.r-10 {right: -10px;}.r-9 {right: -9px;}.r-8 {right: -8px;}.r-7 {right: -7px;}.r-6 {right: -6px;}.r-5 {right: -5px;}.r-4 {right: -4px;}.r-3 {right: -3px;}.r-2 {right: -2px;}.r-1 {right: -1px;}.r0 {right: 0;}.r1 {right: 1px;}.r2 {right: 2px;}.r3 {right: 3px;}.r4 {right: 4px;}.r5 {right: 5px;}.r6 {right: 6px;}.r7 {right: 7px;}.r8 {right: 8px;}.r9 {right: 9px;}.r10 {right: 10px;}.r15 {right: 15px;}.r20 {right: 20px;}.r25 {right: 25px;}.r30 {right: 30px;}.r35 {right: 35px;}.r40 {right: 40px;}.r45 {right: 45px;}.r50 {right: 50px;}.ra {right: auto !important;}

/* top */
.t-10 {top: -10px;}.t-9 {top: -9px;}.t-8 {top: -8px;}.t-7 {top: -7px;}.t-6 {top: -6px;}.t-5 {top: -5px;}.t-4 {top: -4px;}.t-3 {top: -3px;}.t-2 {top: -2px;}.t-1 {top: -1px;}.t0 {top: 0;}.t1 {top: 1px;}.t2 {top: 2px;}.t3 {top: 3px;}.t4 {top: 4px;}.t5 {top: 5px;}.t6 {top: 6px;}.t7 {top: 7px;}.t8 {top: 8px;}.t9 {top: 9px;}.t10 {top: 10px;}.t15 {top: 15px;}.t20 {top: 20px;}.t25 {top: 25px;}.t30 {top: 30px;}.t35 {top: 35px;}.t40 {top: 40px;}.t45 {top: 45px;}.t50 {top: 50px;}.ta {top: auto !important;}

/* bottom */
.b-10 {bottom: -10px;}.b-9 {bottom: -9px;}.b-8 {bottom: -8px;}.b-7 {bottom: -7px;}.b-6 {bottom: -6px;}.b-5 {bottom: -5px;}.b-4 {bottom: -4px;}.b-3 {bottom: -3px;}.b-2 {bottom: -2px;}.b-1 {bottom: -1px;}.b0 {bottom: 0;}.b1 {bottom: 1px;}.b2 {bottom: 2px;}.b3 {bottom: 3px;}.b4 {bottom: 4px;}.b5 {bottom: 5px;}.b6 {bottom: 6px;}.b7 {bottom: 7px;}.b8 {bottom: 8px;}.b9 {bottom: 9px;}.b10 {bottom: 10px;}.b15 {bottom: 15px;}.b20 {bottom: 20px;}.b25 {bottom: 25px;}.b30 {bottom: 30px;}.b35 {bottom: 35px;}.b40 {bottom: 40px;}.b45 {bottom: 45px;}.b50 {bottom: 50px;}.ba {bottom: auto !important;}

.z-1 {z-index: -1;}.z0 {z-index: 0 !important;}.z1 {z-index: 1;}.z2 {z-index: 2;}.z3 {z-index: 3;}.z4 {z-index: 4;}.z5 {z-index: 5;}.z6 {z-index: 6;}.z7 {z-index: 7;}.z8 {z-index: 8;}.z9 {z-index: 9;}.z10 {z-index: 10;}.z20 {z-index: 20;}.z50 {z-index: 50;}.z100 {z-index: 100;}.z1000 {z-index: 1000;}.z10000 {z-index: 10000;}

.ovh {overflow: hidden;}.ova {overflow: auto;}.ovya {overflow-y: auto;}.ovxa {overflow-x: auto;}

.clear,.clr {display: block;overflow: hidden;clear: both;height: 0;line-height: 0;font-size: 0}

.clearfix:after {content: ".";display: block;height: 0;clear: both;overflow: hidden;visibility: hidden}

.clearfix {*zoom: 1}

.dorpdown {
    position: relative
}

.dorpdown-layer {
    display: none;
    position: absolute
}

.dorpdown:hover .dorpdown-layer,
.hover .dorpdown-layer {
    display: block
}

.cw-icon {
    position: relative;
    cursor: default;
    zoom: 1
}

.cw-icon .i,
.cw-icon i {
    display: block;
    position: absolute;
    overflow: hidden
}

.fr .cw-icon .iconfont {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px
}

.w {width: 1200px;margin: 0 auto}

.root61 .w,.w1210 .w {width: 1210px}

.w1200 .w {width: 1200px}

.w1190 .w {width: 1190px}
/* body {
    font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #666;
    background: #fff
} */

/* #com-content {
    background: #f6f6f6
}

a {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #f30213
}
 */
a {color: #666;text-decoration: none}

img,audio,video,canvas {display: inline-block;max-width: 100%;}


.p-detail,.p-img,.p-market,.p-name,.p-price {overflow: hidden}

.m,.mb,.mc,.mt,.sm,.smb,.smc,.smt {overflow: hidden;zoom: 1}

/* 定义 flex */
.flex { 
	display: -webkit-box;   /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	
	display: -webkit-flex;  /* 新版本语法: Chrome 21+ */
	display: -moz-flex;
	display: flex;          /* 新版本语法: Opera 12.1, Firefox 22+ */
	
	display: -moz-box;      /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox;   /* 混合版本语法: IE 10 */   
	display: flexbox;
	display: box;           /* OLD - Android 4.4- */ 
 }
.flex-vertical { 
	/* -webkit-box-orient: vertical;
	-webkit-flex-flow: column;
	flex-flow: column; */
	
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-moz-box-orient: vertical;
}

.flex-f1 { 
	-webkit-flex: 1;  	 	/* Chrome */  
	-ms-flex: 1;    		/* IE 10 */  
	flex: 1;    			/* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-box-flex: 1;    /* OLD - iOS 6-, Safari 3.1-6 */  
	-moz-box-flex: 1;    	/* OLD - Firefox 19- */     
	box-flex: 1;
	width: 20%;             /* For old syntax, otherwise collapses. */
}
.flex-fAu { 
	-webkit-flex: auto;  	/* Chrome */  
	-ms-flex: auto;    		/* IE 10 */  
	flex: auto;    			/* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */  
	-moz-box-flex: 1;    /* OLD - Firefox 19- */     
}
.flex-fInit { 
	-webkit-flex: initial;  	/* Chrome */  
	-ms-flex: initial;    		/* IE 10 */  
	flex: initial;    			/* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-box-flex: initial;  /* OLD - iOS 6-, Safari 3.1-6 */  
	-moz-box-flex: initial;    	/* OLD - Firefox 19- */     
}

/* 项目的排列顺序。数值越小，排列越靠前，默认为0。 */
.flex-order1 { 
	-webkit-order: 1;  	 	/* Chrome */  
	-ms-flex-order: 1;    		/* IE 10 */  
	order: 1;    			/* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-box-ordinal-group: 1; /* OLD - iOS 6-, Safari 3.1-6 */ 
	-moz-box-ordinal-group: 1; /* OLD - Firefox 19- */
}

/* 换行 */
.flex-wrap { 
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap: wrap; 
	-ms-flex-wrap: wrap; 
	-o-flex-wrap: wrap; 
	flex-wrap:wrap;
	-webkit-box-lines:multiple; /*Safari,Opera,Chrome*/
	-moz-box-lines:multiple; /*Firefox*/
	box-lines:multiple;
}

/*主轴 对齐方式 flex-start（默认值） | flex-end | center | space-between | space-around*/
.flex-just { 
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-box-pack: start; /*Safari,Opera,Chrome*/
	-moz-box-pack: start; /*Firefox*/
	-ms-flex-pack: start;
	box-pack: start;
}
.flex-juce { 
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-box-pack: center; /*Safari,Opera,Chrome*/
	-moz-box-pack: center; /*Firefox*/
	-ms-flex-pack: center;
	box-pack: center;
}
.flex-juar { 
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	-webkit-box-pack: distribute; /*Safari,Opera,Chrome*/
	-moz-box-pack: distribute; /*Firefox*/
	-ms-flex-pack: distribute;
	box-pack: distribute;	
}
.flex-jube {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-pack: justify; /*Safari,Opera,Chrome*/
	-moz-box-pack: justify; /*Firefox*/
	-ms-flex-pack: justify;
	box-pack: justify;
}
.flex-juen { 
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
	-webkit-box-pack: end; /*Safari,Opera,Chrome*/
	-moz-box-pack: end; /*Firefox*/
	-ms-flex-pack: end;
	box-pack: end;
}
/*交叉轴 对齐方式 flex-start | flex-end | center | baseline | stretch（默认值）*/
.flex-itst { 
	-webkit-align-items: flex-start;
	-moz-align-items: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
	-webkit-box-align: start; /*Safari,Opera,Chrome*/
	-moz-box-align: start; /*Firefox*/
	-ms-flex-align: start;
	box-align: start;
}
.flex-itce { 
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-box-align: center; /*Safari,Opera,Chrome*/
	-moz-box-align: center; /*Firefox*/
	-ms-flex-align: center;
	box-align: center;
}
.flex-itar { -webkit-align-items: space-around; -ms-align-items: space-around; align-items: space-around;}
.flex-itbe { -webkit-align-items: space-between; -ms-align-items: space-between; align-items: space-between;}
.flex-itend {
	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
	-webkit-box-align: end; /*Safari,Opera,Chrome*/
	-moz-box-align: end; /*Firefox*/
	-ms-flex-align: end;
	box-align: end;
}

/* 多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用  flex-start | flex-end | center | space-between | space-around | stretch（默认值）*/
.flex-cost { -webkit-align-content: flex-start; -ms-align-content: flex-start; align-content: flex-start;}
.flex-coce { -webkit-align-content: center; -ms-align-content: center; align-content: center;}
.flex-coar { -webkit-align-content: space-around; -ms-align-content: space-around; align-content: space-around;}
.flex-cobe { -webkit-align-content: space-between; -ms-align-content: space-between; align-content: space-between;}

/*子元素单独对齐方式 */
.flex-sfst {-webkit-ailgn-self:flex-start;-moz-align-self:flex-start;align-self:flex-start;}
.flex-sfend {-webkit-ailgn-self: flex-end;-moz-align-self: flex-end;align-self: flex-end;}
.flex-sfce {-webkit-ailgn-self: center;-moz-align-self:center;align-self: center;}
.flex-sfba {-webkit-ailgn-self: baseline;-moz-align-self: baseline ;align-self: baseline ;}
.flex-sfch {-webkit-ailgn-self: stretch;-moz-align-self: stretch;align-self: stretch;}



.h0 {height: 0;}.h1 {height: 10%;}.h2 {height: 20%;}.h3 {height: 30%;}.h4 {height: 40%;}.h5 {height: 50%;}.h6 {height: 60%;}.h7 {height: 70%;}.h8 {height: 80%;}.h9 {height: 90%;}.h10 {height: 100%;}.hau {height: auto !important;}
.h20 {height: 20px;}.h30 {height: 30px;}.h40 {height: 40px;}.h50 {height: 50px;}.h60 {height: 60px;}.h70 {height: 70px;}.h80 {height: 80px;}.h90 {height: 90px;}.h100 {height: 100px;}.h110 {height: 110px;}.h120 {height: 120px;}.h130 {height: 130px;}.h140 {height: 140px;}.h150 {height: 150px;}.h160 {height: 160px;}.h170 {height: 170px;}.h180 {height: 180px;}.h190 {height: 190px;}.h200 {height: 200px;}.h210 {height: 210px;}.h220 {height: 220px;}.h230 {height: 230px;}.h240 {height: 240px;}.h250 {height: 250px;}.h260 {height: 260px;}.h270 {height: 270px;}.h280 {height: 280px;}.h290 {height: 290px;}.h300 {height: 300px;}.h350 {height: 350px;}.h400 {height: 400px;}.h450 {height: 450px;}.h500 {height: 500px;}.h550 {height: 550px;}.h600 {height: 600px;}.h650 {height: 650px;}.h700 {height: 700px;}.h750 {height: 750px;}.h800 {height: 800px;}.h850 {height: 850px;}.h900 {height: 900px;}.h950 {height: 950px;}.h1000 {height: 1000px;}

.w0 {width: 0;}.w1 {width: 10%;}.w2 {width: 20%;}.w3 {width: 30%;}.w4 {width: 40%;}.w5 {width: 50%;}.w6 {width: 60%;}.w7 {width: 70%;}.w8 {width: 80%;}.w9 {width: 90%;}.w10 {width: 100%;}.wau {width: auto !important;}
.w20 {width: 20px;}.w30 {width: 30px;}.w40 {width: 40px;}.w50 {width: 50px;}.w60 {width: 60px;}.w70 {width: 70px;}.w80 {width: 80px;}.w90 {width: 90px;}.w100 {width: 100px;}.w110 {width: 110px;}.w120 {width: 120px;}.w130 {width: 130px;}.w140 {width: 140px;}.w150 {width: 150px;}.w160 {width: 160px;}.w170 {width: 170px;}.w180 {width: 180px;}.w190 {width: 190px;}.w200 {width: 200px;}.w210 {width: 210px;}.w220 {width: 220px;}.w230 {width: 230px;}.w240 {width: 240px;}.w250 {width: 250px;}.w260 {width: 260px;}.w270 {width: 270px;}.w280 {width: 280px;}.w290 {width: 290px;}.w300 {width: 300px;}.w350 {width: 350px;}.w400 {width: 400px;}.w450 {width: 450px;}.w500 {width: 500px;}.w550 {width: 550px;}.w600 {width: 600px;}.w650 {width: 650px;}.w700 {width: 700px;}.w750 {width: 750px;}.w800 {width: 800px;}.w850 {width: 850px;}.w900 {width: 900px;}.w950 {width: 950px;}.w1000 {width: 1000px;}

/*font-size*/

.fz10 {font-size: 10px;}.fz11 {font-size: 11px;}.fz12 {font-size: 12px;}.fz13 {font-size: 13px;}.fz14 {font-size: 14px;}.fz15 {font-size: 15px;}.fz16 {font-size: 16px;}.fz17 {font-size: 17px;}.fz18 {font-size: 18px;}.fz19 {font-size: 19px;}.fz20 {font-size: 20px;}.fz22 {font-size: 22px;}.fz24 {font-size: 24px;}.fz26 {font-size: 26px;}.fz28 {font-size: 28px;}.fz30 {font-size: 30px;}.fz32 {font-size: 32px;}.fz34 {font-size: 34px;}.fz36 {font-size: 36px;}.fz38 {font-size: 38px;}.fz40 {font-size: 40px;}

/*margin*/
.m5 {margin: 5px;}.m10 {margin: 10px;}.m15 {margin: 15px;}.m20 {margin: 20px;}.m25 {margin: 25px;}.m30 {margin: 30px;}.m35 {margin: 35px;}.m40 {margin: 40px;}.m45 {margin: 45px;}.m50 {margin: 50px;}.m55 {margin: 55px;}.m60 {margin: 60px;}.m65 {margin: 65px;}.m70 {margin: 70px;}.m75 {margin: 75px;}.m80 {margin: 80px;}.m85 {margin: 85px;}.m90 {margin: 90px;}.m95 {margin: 95px;}.m100 {margin: 100px;}

/*margin-bottom*/
.mb5 {margin-bottom: 5px;}.mb10 {margin-bottom: 10px;}.mb15 {margin-bottom: 15px;}.mb20 {margin-bottom: 20px;}.mb25 {margin-bottom: 25px;}.mb30 {margin-bottom: 30px;}.mb35 {margin-bottom: 35px;}.mb40 {margin-bottom: 40px;}.mb45 {margin-bottom: 45px;}.mb50 {margin-bottom: 50px;}.mb55 {margin-bottom: 55px;}.mb60 {margin-bottom: 60px;}.mb65 {margin-bottom: 65px;}.mb70 {margin-bottom: 70px;}.mb75 {margin-bottom: 75px;}.mb80 {margin-bottom: 80px;}.mb85 {margin-bottom: 85px;}.mb90 {margin-bottom: 90px;}.mb95 {margin-bottom: 95px;}.mb100 {margin-bottom: 100px;}

/*margin-top*/
.mt5 {margin-top: 5px;}.mt10 {margin-top: 10px;}.mt15 {margin-top: 15px;}.mt20 {margin-top: 20px;}.mt25 {margin-top: 25px;}.mt30 {margin-top: 30px;}.mt35 {margin-top: 35px;}.mt40 {margin-top: 40px;}.mt45 {margin-top: 45px;}.mt50 {margin-top: 50px;}.mt55 {margin-top: 55px;}.mt60 {margin-top: 60px;}.mt65 {margin-top: 65px;}.mt70 {margin-top: 70px;}.mt75 {margin-top: 75px;}.mt80 {margin-top: 80px;}.mt85 {margin-top: 85px;}.mt90 {margin-top: 90px;}.mt95 {margin-top: 95px;}.mt100 {margin-top: 100px;}

/*margin-right*/
.mr5 {margin-right: 5px;}.mr10 {margin-right: 10px;}.mr15 {margin-right: 15px;}.mr20 {margin-right: 20px;}.mr25 {margin-right: 25px;}.mr30 {margin-right: 30px;}.mr35 {margin-right: 35px;}.mr40 {margin-right: 40px;}.mr45 {margin-right: 45px;}.mr50 {margin-right: 50px;}.mr55 {margin-right: 55px;}.mr60 {margin-right: 60px;}.mr65 {margin-right: 65px;}.mr70 {margin-right: 70px;}.mr75 {margin-right: 75px;}.mr80 {margin-right: 80px;}.mr85 {margin-right: 85px;}.mr90 {margin-right: 90px;}.mr95 {margin-right: 95px;}.mr100 {margin-right: 100px;}

/*margin-left*/
.ml5 {margin-left: 5px;}.ml10 {margin-left: 10px;}.ml15 {margin-left: 15px;}.ml20 {margin-left: 20px;}.ml25 {margin-left: 25px;}.ml30 {margin-left: 30px;}.ml35 {margin-left: 35px;}.ml40 {margin-left: 40px;}.ml45 {margin-left: 45px;}.ml50 {margin-left: 50px;}.ml55 {margin-left: 55px;}.ml60 {margin-left: 60px;}.ml65 {margin-left: 65px;}.ml70 {margin-left: 70px;}.ml75 {margin-left: 75px;}.ml80 {margin-left: 80px;}.ml85 {margin-left: 85px;}.ml90 {margin-left: 90px;}.ml95 {margin-left: 95px;}.ml100 {margin-left: 100px;}


/*padding*/
.p5 {padding: 5px;}.p10 {padding: 10px;}.p15 {padding: 15px;}.p20 {padding: 20px;}.p25 {padding: 25px;}.p30 {padding: 30px;}.p35 {padding: 35px;}.p40 {padding: 40px;}.p45 {padding: 45px;}.p50 {padding: 50px;}.p55 {padding: 55px;}.p60 {padding: 60px;}.p65 {padding: 65px;}.p70 {padding: 70px;}.p75 {padding: 75px;}.p80 {padding: 80px;}.p85 {padding: 85px;}.p90 {padding: 90px;}.p95 {padding: 95px;}.p100 {padding: 100px;}

/*padding-bottom*/
.pb5 {padding-bottom: 5px;}.pb10 {padding-bottom: 10px;}.pb15 {padding-bottom: 15px;}.pb20 {padding-bottom: 20px;}.pb25 {padding-bottom: 25px;}.pb30 {padding-bottom: 30px;}.pb35 {padding-bottom: 35px;}.pb40 {padding-bottom: 40px;}.pb45 {padding-bottom: 45px;}.pb50 {padding-bottom: 50px;}.pb55 {padding-bottom: 55px;}.pb60 {padding-bottom: 60px;}.pb65 {padding-bottom: 65px;}.pb70 {padding-bottom: 70px;}.pb75 {padding-bottom: 75px;}.pb80 {padding-bottom: 80px;}.pb85 {padding-bottom: 85px;}.pb90 {padding-bottom: 90px;}.pb95 {padding-bottom: 95px;}.pb100 {padding-bottom: 100px;}

/*padding-top*/
.pt5 {padding-top: 5px;}.pt10 {padding-top: 10px;}.pt15 {padding-top: 15px;}.pt20 {padding-top: 20px;}.pt25 {padding-top: 25px;}.pt30 {padding-top: 30px;}.pt35 {padding-top: 35px;}.pt40 {padding-top: 40px;}.pt45 {padding-top: 45px;}.pt50 {padding-top: 50px;}.pt55 {padding-top: 55px;}.pt60 {padding-top: 60px;}.pt65 {padding-top: 65px;}.pt70 {padding-top: 70px;}.pt75 {padding-top: 75px;}.pt80 {padding-top: 80px;}.pt85 {padding-top: 85px;}.pt90 {padding-top: 90px;}.pt95 {padding-top: 95px;}.pt100 {padding-top: 100px;}

/*padding-right*/
.pr5 {padding-right: 5px;}.pr10 {padding-right: 10px;}.pr15 {padding-right: 15px;}.pr20 {padding-right: 20px;}.pr25 {padding-right: 25px;}.pr30 {padding-right: 30px;}.pr35 {padding-right: 35px;}.pr40 {padding-right: 40px;}.pr45 {padding-right: 45px;}.pr50 {padding-right: 50px;}.pr55 {padding-right: 55px;}.pr60 {padding-right: 60px;}.pr65 {padding-right: 65px;}.pr70 {padding-right: 70px;}.pr75 {padding-right: 75px;}.pr80 {padding-right: 80px;}.pr85 {padding-right: 85px;}.pr90 {padding-right: 90px;}.pr95 {padding-right: 95px;}.pr100 {padding-right: 100px;}

/*padding-left*/
.pl5 {padding-left: 5px;}.pl10 {padding-left: 10px;}.pl15 {padding-left: 15px;}.pl20 {padding-left: 20px;}.pl25 {padding-left: 25px;}.pl30 {padding-left: 30px;}.pl35 {padding-left: 35px;}.pl40 {padding-left: 40px;}.pl45 {padding-left: 45px;}.pl50 {padding-left: 50px;}.pl55 {padding-left: 55px;}.pl60 {padding-left: 60px;}.pl65 {padding-left: 65px;}.pl70 {padding-left: 70px;}.pl75 {padding-left: 75px;}.pl80 {padding-left: 80px;}.pl85 {padding-left: 85px;}.pl90 {padding-left: 90px;}.pl95 {padding-left: 95px;}.pl100 {padding-left: 100px;}


/*渐变  深黄 到 浅黄 */

.bgcl {
    /*css3 背景渐变*/
    background: -webkit-linear-gradient(180deg, #11b4fb, #006597);  /* Safari 5.1 - 6.0 */
    background: -moz-linear-gradient(180deg, #11b4fb, #006597);  /* Firefox 3.6 - 15 */
    background: -o-linear-gradient(180deg, #11b4fb, #006597);  /* Opera 11.1 - 12.0 */
    background: linear-gradient(180deg, #11b4fb, #006597);  /* 标准的语法 */
}
/*primary*/
.bgcb {background-color: #007bff !important;}
.bgcp {background-color: #6f42c1 !important;}
.bgcf {background-color: #ffffff !important;}
.bgcg {background-color: #6c757d !important;}


/*color*/

.col-skyblue {color: #30abf1;}
.col-blue {color: #007bff;}
.col-indigo {color: #6610f2;} /* 靛蓝 */
.col-purple {color: #6f42c1;}
.col-pink {color: #e83e8c;}
.col-red {color: #dc3545;}
.col-orange {color: #fd7e14;}
.col-yellow {color: #ffc107;}
.col-green {color: #28a745;}
.col-teal {color: #20c997;} /* 墨绿 */
.col-cyan {color: #17a2b8;} /* 蓝绿 青色 */
.col-white {color: #fff;}
.col-gray {color: #6c757d;}
.col-gray-dark {color: #343a40;}

.col0 {color: #000 !important;}
.col3 {color: #333 !important;}
.col6 {color: #666 !important;}
.col9 {color: #999 !important;}
.colc {color: #ccc !important;}

.lh1 {line-height: 1;}
.lh1_5 {line-height: 1.5;}
.lh2 {line-height: 2;}
.lh2_5 {line-height: 2.5;}
.lh3 {line-height: 3;}
.lh3_5 {line-height: 3.5;}
.lh4 {line-height: 4;}
.lh4_5 {line-height: 4.5;}
.lh5 {line-height: 5;}
.lh5_5 {line-height: 5.5;}

.ti1 {text-indent: 1em;}
.ti2 {text-indent: 2em;}
.ti3 {text-indent: 3em;}
.ti4 {text-indent: 4em;}
.ti5 {text-indent: 5em;}
.ti6 {text-indent: 6em;}
.ti999 {text-indent: -99999em;}

.m0 {margin: 0 !important;}
.mt0 {margin-top: 0 !important;}
.mb0 {margin-bottom: 0 !important;}
.ml0 {margin-left: 0 !important;}
.mr0 {margin-right: 0 !important;}
.p0 {padding: 0 !important;}
.pt0 {padding-top: 0 !important;}
.pb0 {padding-bottom: 0 !important;}
.pl0 {padding-left: 0 !important;}
.pr0 {padding-right: 0 !important;}
.bgn {background: none !important;}
.bdn {border: none !important;}

.bd1 {border: 1px solid #bfbfbf;}
.bdt1 {border-top: 1px solid #bfbfbf;}
.bdb1 {border-bottom: 1px solid #bfbfbf;}

.txtOv1 {
	display: -webkit-box;
	overflow: hidden; 
	text-overflow:ellipsis;
	word-break:break-all;
	-webkit-box-orient:vertical;
	-moz-box-orient: vertical;
	/* white-space:nowrap; */
	-webkit-line-clamp:1;
	-moz-line-clamp:1;
	line-clamp:1;
}
.lin1 {-webkit-line-clamp:1;}
.lin2 {-webkit-line-clamp:2;}
.lin3 {-webkit-line-clamp:3;}
.lin4 {-webkit-line-clamp:4;}
.lin5 {-webkit-line-clamp:5;}

.box-b {
	-webkit-box-sizing:border-box; /* Safari */
	-moz-box-sizing:border-box; /* Firefox */
	box-sizing:border-box;
}
.trans3 {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.trans5 {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.trans8 {
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
}
.trans10 {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.box-shadow{
     /*Firefox4.0-*/
     -moz-box-shadow:0 2px 8px 1px rgba(0,0,0,.35);
     /*Safariand Google chrome10.0-*/
     -webkit-box-shadow:0 2px 8px 1px rgba(0,0,0,.35);
     /*Firefox4.0+、 Google chrome 10.0+ 、 Oprea10.5+ and IE9*/
     box-shadow:  0 2px 8px 1px rgba(0,0,0,.35);
}

.bdra0 {-webkit-border-radius: 0 !important;-moz-border-radius: 0 !important;border-radius: 0 !important;}
.bdra2 {-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.bdra3 {-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.bdra4 {-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.bdra5 {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.bdra6 {-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.bdra8 {-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;}
.bdra10 {-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
.bdra12 {-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;}
.bdra14 {-webkit-border-radius: 14px;-moz-border-radius: 14px;border-radius: 14px;}
.bdra15 {-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}
.bdra18 {-webkit-border-radius: 18px;-moz-border-radius: 18px;border-radius: 18px;}
.bdra20 {-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
.bdra22 {-webkit-border-radius: 22px;-moz-border-radius: 22px;border-radius: 22px;}
.bdra24 {-webkit-border-radius: 24px;-moz-border-radius: 24px;border-radius: 24px;}
.bdra25 {-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;}
.bdra50 {-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}

/* 媒体查询 */
@media screen and (min-width:300px) and (max-width:360px) {}


html,body {
    height: 100%;
    /* min-width: 1200px; */
    font-family: "Microsoft YaHei";
	background-color: #f7f7f7;
	/* font-size: 10px; */
}
h1,h2,h3,h4,h5,h6,p,div,span,input,textarea {
    font-family: "Microsoft YaHei";
}

